name: Flutter Installable APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.10'

    - name: Accept Android licenses
      run: yes | sdkmanager --licenses || true

    - name: Enable Android SDK tools
      run: |
        sdkmanager "platforms;android-33" "build-tools;33.0.0"

    - name: Get dependencies
      run: flutter pub get

    - name: Build debug APK
      run: flutter build apk --debug

    - uses: actions/upload-artifact@v4
      with:
        name: app-debug.apk
        path: build/app/outputs/flutter-apk/app-debug.apk
